/*
.contact-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1.5rem;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid rgb(177, 82, 201);;
    color: rgb(177, 82, 201);;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 1.5rem;
}

button:hover,
button:active {
    background-color: rgb(177, 82, 201);
    color: white;
}
*/

.contact-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1.5rem;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid rgb(177, 82, 201);;
    color: rgb(177, 82, 201);;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 1.5rem;
}

button:hover,
button:active {
    background-color: rgb(177, 82, 201);
    color: white;
}


